h4 {
    color: palevioletred;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.movienames {
    text-align: left;
    font-family: monospace;
    color: blue;
}

.eatsandtreats {
    color: brown;
    text-align: left;
    font-family: inherit;
}

.favoritegirl {
    font-size: x-large;
    color: purple;
    text-align: center;
}

.notorious {
    text-align: center;
}

.tb {
    text-align: center;
}

.body {
    background-color: blue;
}